@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* height: 100%; */
  color: #fff;
  background: #f2f0f0;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
